parameters:
	level: 9
	paths:
		- app
		- tests

	ignoreErrors:
	    -
	        message: '#^Undefined variable: \$this$#'
	        paths:
	            - tests/*
	    -
	        message: '#Call to an undefined method [a-zA-Z0-9\\_]+.#'
	        paths:
	            - tests/*

	    -
	        message: '#Access to an undefined property [a-zA-Z0-9\\_]+.#'
	        paths:
	            - tests/*

	    -
	        message: '#Cannot call method [a-zA-Z0-9\\_]+.#'
	        paths:
	            - tests/*

	    -
	        message: '#Cannot access property [a-zA-Z0-9\\_\$]+#'
	        paths:
	            - tests/*

	    -
	        message: '#Call to an undefined static method Illuminate\\Support\\Facades\\App::[a-zA-Z0-9\\_\$]+#'
	        paths:
	            - tests/*
